TOKEN=
MONGO_DB=
# DEV or PROD
MODE=
GEMINI_API_KEY=
GEMINI_MODEL="gemini-2.0-flash-lite"
GEMINI_WORD_SEARCH_INSTRUCTION="50자 이내;간단한 설명;문장끝은 항상 삐!"
GEMINI_STUDY_ENCOURAGEMENT_INSTRUCTION='공부시간에 따른 간단한 격려;문장끝은 항상 "삐!";공부시간이 크면 큰격려;작으면 비난'
